---
name: home
layout: home
---

# Introducción

Esta es una colección de imagenes de rock nacional en Colombia, recuperadas en la prensa de la Biblioteca Nacional de Colombia, las cuales dan cuenta de eventos y notas importantes que sucedieron entrre los años 1985 y 1995.